.one{
    margin-left: 30px;

    .first-q{
        margin-bottom: 10px ;
        font-size: 20px;
        font-family:  sans-serif;
    }
    .option-one{
        margin-left: 40px;
    }
}

.two{
    margin-left: 30px;
}

.three{
    margin-left: 30px;
}

.four{
    margin-left: 30px;
}

.five{
    margin-left: 30px;
}

.six{
    margin-left: 30px;
}

.seven{
    margin-left: 30px;
}

.eight{
    margin-left: 30px;
}