.one{
    margin-left: 30px;
    
    .first-q{
        font-size: larger;
        font-weight: bold;
        font-family: sans-serif  ;
    }
}



.second-q{
    font-size: larger;
    font-weight: bold;
}

.third-q{
    font-size: larger;
 
    font-weight: bold;
}

.forth-q{
    font-size: larger;
    font-weight: bold;
}

.fivth-q{
    font-size: larger;
    font-weight: bold;
}
.sixth-q{
    font-size: larger;
    font-weight: bold;
}

.seventh-q{
    font-size: larger;
    font-weight: bold;
}

.last-q{
    font-size: larger;
    font-weight: bold;
}